
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h3 class="page-header">Master Data Adminstration</h3>

    <div class="row">
        <div class="col-xs-3">
            <div class="list-group">
                <a href="#" class="list-group-item">IST_MD_LE</a>
                <a href="#" class="list-group-item">IST_MD_PLANT</a>
                <a href="#" class="list-group-item">IST_MD_COMPCODE</a>
                <a href="#" class="list-group-item">IST_MD_PORG</a>
                <a href="#" class="list-group-item">IST_MD_PGRP</a>
                <a href="#" class="list-group-item">IST_MD_MATGRP</a>
                <a href="#" class="list-group-item">IST_MD_COUNTRY</a>
                <a href="#" class="list-group-item">IST_MD_DOCTY</a>
                <a href="#" class="list-group-item">IST_MD_ACTSTAT</a>
                <a href="#" class="list-group-item">IST_MD_GL_ACCOUNT</a>
                <a href="#" class="list-group-item">IST_MD_COSTCENT</a>
                <a href="#" class="list-group-item">IST_MD_VENDOR</a>
                <a href="#" class="list-group-item">IST_MD_BAR</a>
                <a href="#" class="list-group-item">IST_MD_BAR_VENDOR</a>
            </div> 
        </div>
        <div class="col-xs-9">
            <div class="pull-right">
                <button class="btn btn-primary"><i class="fa fa-plus-circle fa-fw"></i> Add New</button>
                <button class="btn btn-warning"><i class="fa fa-edit fa-fw"></i> Edit</button>
                <button class="btn btn-danger"><i class="fa fa-trash fa-fw"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

